.portfolio__button {
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    background-color:  transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.portfolio__button:last-child{
    margin-left: 14px;
    transform: rotate(-180deg);
}