.portfolio__river-img {
  grid-area: 2 / 1 / span 1 / span 2;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .portfolio__river-img {
    height: 233px;
    width: 250px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .portfolio__river-img {
    height: 203px;
    width: 200px;
  }
}