.portfolio__main-text {
    width: 335px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167%;
    text-align: justify;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .portfolio__main-text {
        width: 270px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .portfolio__main-text {
        width: 200px;
    }
}

@media screen and (max-width: 1443px) and (min-width: 1280px) {
    .portfolio__main-text {
        width: 270px;
    }
}
