.landing__heading {
  margin: 145px 0 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;
}

@media (max-width: 1280px) {
  .landing__heading {
    font-size: 50px;
  }
}

@media (max-width: 1024px) {
  .landing__heading {
    margin: 50px 0 13px;
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .landing__heading {
    font-size: 20px;
  }
}