@font-face {
  font-family: 'LibreFranklin';
  src: url('./LibreFranklin-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./LibreFranklin-Medium.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./LibreFranklin-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}