.landing__link {
  display: inline;
  color: #fff;
  transition: all 0.2s;
  text-decoration: none;
  position: relative;
}

.landing__link:hover:before {
  width: 100%;
  left: 0;
  background: #fff;
}

.landing__link:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -3px;
  right: 0;
  background: #fff;
  transition: all 0.2s;
}