.portfolio__slider-btns {
    margin-left: 25px;
    display: flex;
    margin-top: -24px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .portfolio__slider-btns {
        margin-top: 0;
    }
}
