.header__owner {
  font-size: 20px;
  font-style: italic;
}

.header__owner:after {
  content: '(Наша команда)';
  margin-left: 10px;
  visibility: hidden;
  transition: all 0.3s;
  opacity: 0;
}

.header__owner:hover:after {
  visibility: visible;
  opacity: 1;
}